spring:
  application:
    name: toyproject
  datasource:
    url: jdbc:mysql://localhost:3306/toy_project
    username: root
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  servlet:
    session:
      tracking-modes: cookie

# weather api
weather:
  kma:
    url: "http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst"
    service-key: "c214254ed99e867a419aabb1ea5488c94974b14c2f6304bd27a96aa33fc8c4f1"
    nx: 60
    ny: 123